.img1 {
    /* Chapshoro */
    background: url(../img/dishes/food_1.jpg);
}

.img2 {
    /* Karahi */
    background: url(../img/dishes/food_2.jpg);
}

.img3 {
    /* Mamtu */
    background: url(../img/dishes/food_3.jpg);
}

.img4 {
    /* Biriyani */
    background: url(../img/dishes/food_4.jpg);
}

.img5 {
    /* Spaghetti */
    background: url(../img/dishes/food_5.jpg);
}

.img6 {
    /* Korma */
    background: url(../img/dishes/food_6.jpg);
}

.img7 {
    /* Kebab */
    background: url(../img/dishes/food_7.jpg);
}

.img8 {
    /* Haleem */
    background: url(../img/dishes/food_8.jpg);
}

.img9 {
    /* Fenkata */
    background: url(../img/dishes/food_9.jpg);
}

.img10 {
    /* Wiener Schnitzel */
    background: url(../img/dishes/food_10.jpg);
}

.img11 {
    /* Bigos */
    background: url(../img/dishes/food_11.jpg);
}

.img12 {
    /*Salad*/
    background: url(../img/dishes/food_12.jpg);
}

.img13 {
    /* Pasta */
    background: url(../img/dishes/food_13.jpg);
}

.img14 {
    /* Sunday Roast */
    background: url(../img/dishes/food_14.jpg);
}

.img15 {
    /* Tofu */
    background: url(../img/dishes/food_15.jpg);
}

.img16 {
    /* Lohikeitto */
    background: url(../img/dishes/food_16.jpg);
}

.img17 {
    /* Crème Catalan */
    background: url(../img/dishes/food_17.jpg);
}

.img18 {
    /* Pumpkin pie */
    background: url(../img/dishes/food_18.jpg);
}
