* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    background: url(../img/food_bg_1.jpg) center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap_body {
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    color: #dfe7fd;
    background-color: #264653;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1;
}

.nav_left {
    display: flex;
    width: 50%;
}

.nav_left hr {
    border: solid 1px rgba(255, 255, 255, 0.1);
}

.logo {
    width: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    transition-duration: 0.2s;
}

.logo a img {
    width: 100%;
    transition-duration: 0.2s;
}
.logo img:hover {
    transform: scale(1.3);
}

.buttons {
    width: 100%;
    display: flex;
}
.buttons a {
    min-width: 20%;
    max-width: 30%;
    height: 100%;
}

.buttons a button {
    width: 100%;
    height: 100%;
    background: #264653;
    color: white;
    font-size: 18px;
    border: none;
    transition: 0.3s;
}

.icohome {
    max-height: 50px;
    content: url(../img/icons/home.png);
}

.icoorder {
    max-height: 40px;
    content: url(../img/icons/ordernow.png);
}

.icoabout {
    max-height: 50px;
    content: url(../img/icons/aboutus.png);
}

.buttons a button:hover {
    background: #356d83;
}

.buttons a button:hover span {
    content: none;
}
.nav_right {
    width: 50%;
    text-align: right;
}

.nav_right button {
    background: #fca311;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.nav_right button:hover {
    background: #14213d;
    color: #fca311;
}

.nav_right button:hover span::after {
    content: " \00bb";
    transition-duration: 0.3s;
}

.main {
    color: white;
    padding-bottom: 100px;
    font-family: ubuntu;
    align-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    text-align: center;
    background-color: #e76f51;
    height: 100px;
    clear: both;
    margin-top: -100px;
}

.dev_tag {
    padding-top: 75px;
    color: white;
}

.footer h3 span::after {
    color: white;
    content: " by Ali Fayaz Abbasi";
    animation: text_anim 3s infinite ease-in-out;
}

.footer h3 span::before {
    color: rgb(255, 0, 0);
    content: "♥";
}

.cards {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 15px;
    width: 300px;
    color: black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
}

.img1 {
    background: url(../img/food_1.jpg);
}

.img2 {
    background: url(../img/food_2.jpg);
}

.img3 {
    background: url(../img/food_3.jpg);
}

.img4 {
    background: url(../img/food_4.jpg);
}

.card-img {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    background-position: center;
}

.card-txt {
    grid-area: text;
    margin: 25px;
}

.card button {
    font-size: 18px;
    color: white;
    background: #008cba;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.card button:hover {
    background: #00bfff;
}

.card:hover {
    transform: scale(1.1);
    background: rgb(220, 220, 220);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

@keyframes text_anim {
    50% {
        content: " by Ali Abbas Nagari";
    }
    100% {
        content: " by Shehbaz Karim";
    }
}

@font-face {
    font-family: aileron;
    src: url(../fonts/aileron.OTF);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/roboto_r.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(../fonts/ubuntu_r.ttf);
}
