* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    background: url(../img/food_bg_1.jpg) center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap_body {
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    color: white;
    padding-bottom: 200px;
}

.pcard {
    max-width: 900px;
    padding: 20px;
    margin: 30px;
    width: 100%;
    color: black;
    border-radius: 15px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    transition: 0.3s ease;
}

.pcard:hover {
    transform: scale(1.01);
    background: rgb(250, 250, 250);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.pcard div {
    display: flex;
}

.pcard div div {
    margin: 10px;
    width: 100%;
    display: block;
}

.pcard input {
    font-size: 16px;
    width: 100%;
    height: 25px;
    padding: 5px;
}

.pcard button {
    font-size: 18px;
    color: white;
    background: #008cba;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.pcard h1 {
    margin-bottom: 10px;
}

.pcard button:hover {
    background: #00bfff;
}

.paycard {
    border-radius: 8px;
    transition: 0.3s;
}
.paycard:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.pay_methods {
    margin-top: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    width: 150px;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.pay_methods img {
    margin: 10px;
    width: 90%;
}

.pay_div {
    width: 100%;
    display: flex;
}

@media (max-width: 760px) {
    .pay_methods {
        display: none;
    }
}
