* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    background: url(../img/food_bg_1.jpg) center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap_body {
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    color: white;
    padding-bottom: 100px;
}

.cards {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 10px;
    margin: 15px;
    width: 200px;
    color: black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 100px;
    grid-template-areas: "image" "text";
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-price {
    display: inline-flex;
    align-items: center;
    border: solid 2px #f44336;
}

.card-img {
    grid-area: image;
    background-size: cover;
    background-position: center;
}

.card-txt {
    font-size: 12px;
    grid-area: text;
    margin-top: 10px;
}

.card a {
    width: 50%;
}

.card h3 {
    color: #f44336;
}
.card button {
    font-size: 14px;
    color: white;
    background: #f44336;
    border: none;
    padding: 10px;
}

.card button:hover {
    background: #cf3a2f;
}

.card:hover {
    transform: scale(1.1);
    background: rgb(240, 240, 240);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
