* {
    padding: 0;
    margin: 0;
    font-family: montserrat;
}

html,
body {
    height: 100%;
    background: url(../img/food_bg_1.jpg) center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap_body {
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    color: white;
    padding-bottom: 197px;
    text-align: center;
}

.cards {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 15px;
    width: 300px;
    color: black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px 100px 80px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 5px;
}

.btn-price {
    display: inline-flex;
    align-items: center;
    border: solid 2px #f44336;
    border-radius: 15px;
}

.card-img {
    grid-area: image;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card-txt {
    font-size: 12px;
    grid-area: text;
    margin-top: 10px;
}

.btn-price a {
    align-content: center;
    width: 50%;
    height: 100%;
    background: #f44336;
    border-radius: 11px;
}

.btn-price h3 {
    width: 50%;
    color: #f44336;
}
.btn-price button {
    margin-top: 20px;
    font-size: 14px;
    color: white;
    background: none;
    border: none;
    padding: 10px;
}

.card a:hover {
    background: #cf3a2f;
}

.card:hover {
    transform: scale(1.1);
    background: rgb(240, 240, 240);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card h1 {
    color: rgb(25, 0, 255);
    font-size: 30px;
}
