* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.wrap_body {
    min-height: 100%;
    background-image: url(/img/food2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    color: #dfe7fd;
    background-color: #264653;
    padding: 10px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.nav_right {
    width: 50%;
    text-align: right;
}

.nav_right button {
    background: #fca311;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.nav_right button:hover {
    background: #14213d;
    color: #fca311;
}

.nav_right button:hover span::after {
    content: " \00bb";
    transition-duration: 0.3s;
}

.nav_left {
    display: flex;
    width: 50%;
}

.nav_left button {
    background: #11c5fc;
    width: 110px;
    border: solid 2px #11c5fc;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.nav_left button:hover {
    background: #1c7792b9;
    border: solid 2px white;
    color: white;
}

.logo {
    margin-right: 40px;
    display: flex;
    align-items: center;
    transition-duration: 0.2s;
}
.logo:hover {
    margin: 5px;
    margin-right: 35px;
    transition-duration: 0.2s;
}
.logo img {
    width: 50px;
    transition-duration: 0.2s;
}
.logo img:hover {
    transform: scale(1.4);
    transition-duration: 0.2s;
}

.main {
    color: white;
    text-align: center;
    overflow: auto;
    padding-bottom: 100px;
}

.footer {
    text-align: center;
    background-color: #e76f51;
    height: 100px;
    clear: both;
    margin-top: -100px;
}

.dev_tag {
    padding-top: 75px;
    color: white;
}

.footer h3 span::after {
    color: white;
    content: " by Ali Fayaz Abbasi";
    animation: text_anim 3s infinite ease-in-out;
}

.footer h3 span::before {
    color: rgb(255, 0, 0);
    content: "♥";
}

@keyframes text_anim {
    50% {
        content: " by Ali Abbas Nagari";
    }
    100% {
        content: " by Shehbaz Karim";
    }
}
